apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: frontend-backend-app
  namespace: argocd
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    directory:
      jsonnet:
        tlas:
        - name: ""
          value: ""
    path: ./kubernetes
    repoURL: https://github.com/Nikola-Milosavljevic-1/Project-Kubernetes.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      enabled: true
