apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: aminoc/project-kubernetes-backend:a5dcb64
        imagePullPolicy: Always
        ports:
        - containerPort: 5050
        env:
        - name: MONGO_URI
          value: mongodb://mongodb:27017/appdb
